@import "tailwindcss";
@import "@heroui/styles";
@plugin "tailwindcss-animate";

@source "../node_modules/@heroui/react/dist/**/*.{js,ts,jsx,tsx}";
@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: oklch(52.82% 0.2628 242.94);
  --color-primary-foreground: oklch(100% 0 0);
  --color-secondary: oklch(97% 0.004 250);
  --color-secondary-foreground: oklch(21.03% 0.0059 242.94);
}

:root,
.light,
.default,
[data-theme="light"],
[data-theme="default"] {
  /* Theme Colors (Light Mode) */
  --primary: oklch(52.82% 0.2628 242.94);
  --primary-foreground: oklch(100% 0 0);
  --secondary: oklch(97% 0.004 250);
  --secondary-foreground: oklch(21.03% 0.0059 242.94);
  --accent: oklch(52.82% 0.2628 242.94);
  --accent-foreground: oklch(100% 0 0);
  --background: oklch(99.2% 0.002 250);
  --border: oklch(92% 0.002 250);
  --danger: oklch(65.32% 0.2328 24.43);
  --danger-foreground: oklch(100% 0 0);
  --default: oklch(96% 0.004 250);
  --default-foreground: oklch(21.03% 0.0059 242.94);
  --field-background: oklch(100% 0 0);
  --field-foreground: oklch(21.03% 0 0);
  --field-placeholder: oklch(55.17% 0 0);
  --focus: oklch(52.82% 0.2628 242.94);
  --foreground: oklch(15% 0 0);
  --muted: oklch(55.17% 0 0);
  --overlay: oklch(100% 0 0);
  --overlay-foreground: oklch(15% 0 0);
  --scrollbar: oklch(87.10% 0 0);
  --segment: oklch(100% 0 0);
  --segment-foreground: oklch(15% 0 0);
  --separator: oklch(94% 0 0);
  --success: oklch(73.29% 0.1935 149.50);
  --success-foreground: oklch(21.03% 0.0059 149.50);
  --surface: oklch(100% 0 0);
  --surface-foreground: oklch(15% 0 0);
  --surface-secondary: oklch(97.5% 0.003 250);
  --surface-secondary-foreground: oklch(15% 0 0);
  --surface-tertiary: oklch(95.5% 0.003 250);
  --surface-tertiary-foreground: oklch(15% 0 0);
  --warning: oklch(78.19% 0.1585 71.02);
  --warning-foreground: oklch(21.03% 0.0059 71.02);

  /* Border Radius */
  /* --radius: 0.125rem; */
  --field-radius: 0.25rem;

  /* Font Family */
  /* Make sure to load Inter font in your app */
  --font-sans: var(--font-inter);
}

.dark,
[data-theme="dark"] {
  color-scheme: dark;
  /* Theme Colors (Dark Mode) */
  --primary: oklch(52.82% 0.2628 242.94);
  --primary-foreground: oklch(99.11% 0 0);
  --secondary: oklch(27.40% 0.0000 242.94);
  --secondary-foreground: oklch(99.11% 0 0);
  --accent: oklch(52.82% 0.2628 242.94);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(12.00% 0.0000 242.94);
  --border: oklch(28.00% 0.0000 242.94);
  --danger: oklch(59.40% 0.1967 23.32);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(27.40% 0.0000 242.94);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.0000 242.94);
  --field-foreground: oklch(99.11% 0.0000 242.94);
  --field-placeholder: oklch(70.50% 0.0000 242.94);
  --focus: oklch(52.82% 0.2628 242.94);
  --foreground: oklch(99.11% 0.0000 242.94);
  --muted: oklch(70.50% 0.0000 242.94);
  --overlay: oklch(21.03% 0.0000 242.94);
  --overlay-foreground: oklch(99.11% 0.0000 242.94);
  --scrollbar: oklch(70.50% 0.0000 242.94);
  --segment: oklch(39.64% 0.0000 242.94);
  --segment-foreground: oklch(99.11% 0.0000 242.94);
  --separator: oklch(25.00% 0.0000 242.94);
  --success: oklch(73.29% 0.1935 149.50);
  --success-foreground: oklch(21.03% 0.0059 149.50);
  --surface: oklch(21.03% 0.0000 242.94);
  --surface-foreground: oklch(99.11% 0.0000 242.94);
  --surface-secondary: oklch(25.70% 0.0000 242.94);
  --surface-secondary-foreground: oklch(99.11% 0.0000 242.94);
  --surface-tertiary: oklch(27.21% 0.0000 242.94);
  --surface-tertiary-foreground: oklch(99.11% 0.0000 242.94);
  --warning: oklch(82.03% 0.1388 75.03);
  --warning-foreground: oklch(21.03% 0.0059 75.03);
}

@layer components {
  .toast {
    @apply rounded-md;
  }
}
